<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
<link href="css/style.css" rel="stylesheet">
<title th:text="${title}" />
</head>
<body>
	<div class="container">
		<div th:insert="blocks/header :: header" />

		<body>
			
        	
        	<div th:each="el : ${book}" class="alert alert-info mt-2">
        		<h3 th:text="${el.title}"/>
        		
        		<p th:text="${el.author}"/>
        		
        		<p th:text="${el.anotation}"/>
        		
        		<p th:text="${el.opinion}"/>
        		
        		<p th:text="${el.status}"/>
        		
        		
        		
        		<a href="/books" class="btn btn-warning">Назад</a>
        		<a th:href="'/books/' + ${el.id} + '/edit'" class="btn btn-warning">Редактировать</a>
        		
        		<form th:action="'/books/' + ${el.id} + '/remove'" method="post">
        			<button class="btn btn-warning" type="submit">Удалить</button>        		
        		</form>
        	</div>
			
		</body>

		<div th:insert="blocks/footer :: footer" />
	</div>
</body>
</html>
